<!DOCTYPE html>
<html>
  <head>
    <title>My Personally Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <a href='/'> Home </a>&nbsp;
  <a href='/about/me'> About </a>
  <!-- тут должна быть шапка, но не успел -->

  <%= yield %>

  <!-- тут должен быть футер, но не успел -->
  </body>
</html>
